/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2020, 8:32:35 PM
    Author     : Mohithraj Kulal
*/
*{
 margin: 0px;   
}
nav{
/*    height: 75px;*/
    font-size: 18px;
/*    z-index: 2;*/
}
.cc{
    height: 400px;
    width: 100%;
}
.img123
{
    background: url("../img/networkco.jpg");
    background-repeat: no-repeat;
    background-size: cover ; 
    font-weight: 700;
}
a
{
    text-decoration: none;
}
.footers{
    margin-top: -32px;
}
#admin
{
    padding: 10px 0px 30px 0px;

}
.bg-blue
{
    background-color: #69a3fa;
}
.text-cust
{
    color:#0b0b54;
}


